<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Welcome!!!</title>
</head>
<body>
    <div class="flex-container">
        <div class="logo">CHANGE PASSWORD</div>
        <form action="/dashboard/change-password" method="POST">
            <% if(typeof error == 'undefined' || error.length == 0){%>
                <strong style="color: gray;">Remember Stronger Password Means Stronger Security</strong>
            <%}else{%>
                <%= error[0] %>
            <% } %>
            <input type="password" name="oldpassword" placeholder="Enter current Password" required>
            <input type="repassword" name="newpassword" placeholder="Enter new Password" required>
            <button type="submit" >Continue...</button>
        </form>
        <small><a href="/login">Login</a></small>
    </div>
</body>
</html>